<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados) -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>BitByBit</title>
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>


    <!-- Dashboard/Chat -->
    <div class="container" id="dashboard-container" style="display: none;">
        <div class="chat-header">
            <h1>Bem-vindo, <span id="dashboard-username"></span>!</h1>
            <button id="logout-btn">Sair</button>
        </div>
        
        <div class="chat-container">
            <div id="chat-messages" class="chat-messages"></div>
            <form id="chat-form" class="chat-form">
                <input type="text" id="chat-input" placeholder="Digite sua mensagem..." autocomplete="off">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

    <script src="renderer.js"></script>
</body>
</html>
